@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
body{
    font-family: 'Rowdies', cursive;
    background-color:  rgb(158, 0, 0);
    font-size: large;
  }

table, 
    td,
    tr{
        width: auto; 
        height: auto;
    border: 2px black solid;
    border-collapse: collapse;
    padding: 1px;
}
